/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
public/javascripts/compiled
figwheel_server.log
.sass-cache
log/
logs/
npm-debug.log
node_modules
react/node_modules
react/build/app.js
react/build/style.css
public/app.js
public/style.css
react/reports