{"presets": ["react", "es2015", "stage-0"],
 "plugins": [
   "transform-decorators-legacy",
   "transform-decorators",
   ["extensible-destructuring", {"mode": "optout", "impl": "safe"}],
   ["auto-import", {
     "declarations": [
       {
         "path": "react", "default": "React", "members": ["Component"]
       }, {
         "path": "lodash", "default": "_", "members": ["trimStart"]
       }
     ]
   }]
 ]
}
