{"presets": ["react"],
 "plugins": [
   ["extensible-destructuring", {"mode": "optout", "impl": "safe"}],
   ["auto-import", {
     "declarations": [
       {"path": "react", "default": "React", "members": ["Component"]}
     ]
   }]
 ]
}
